h1 {
    text-align: center;
    color: #9932cc;
    font-family: "Aboreto", cursive;
}

h2 {
    text-align: center;
    color: #455d7a;
    font-family: "Roboto", sans-serif;
}

.time {
    display: block;
    font-size: 25px;
    color: #5a6275;
    font-family: "Roboto", sans-serif;
    margin-right: 343px;
    color: #455d7a;
}

.form-control {
    display: block;
    font-weight: bold;
    margin-left: 330px;
    color: #f95959;
    border: 1px solid #233142;
}


.primary{
    margin-left: 331px;
    background-color: #233142;
    border: 1px solid #233142;
}

.primary:hover {
    background-color: #233142 ;
    border: 1px solid #233142;
}

h3 {
   text-align: center;
    margin-top: 25px;
    font-family: "Libre Baskerville", serif;
    color: #f95959;
}

.countries {
     margin-left: 637px;
    font-family: "Libre Baskerville", serif;
    color: #f95959;
}

.parameters {
    color: #c9c7c7;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}


.container {
    color: #5a6275;
    font-family: "Roboto", sans-serif;
}


.temperature {
    margin-left: 340px;
    font-size: 40px;
    color: #c9c7c7;
}


.cel, .fah {
    font-size: 17px;
    color: #455d7a;
}

.celsius, .fahrenheit {
    color: #455d7a;
}


.iconic {
display: block;
margin-left: 350px;
}

.git {
    margin-top: 50px;
    color: #c9c7c7;
}

.git:hover {
    color: #233142;
}

.weather {
    line-height: 35px;
}

.day {
    margin-left: 370px;
    margin-top: 20px;
    font-size: 20px;
    color:#455d7a;
}

.degree {
    margin-left: 375px;
    font-size: 15px;
    color: #c9c7c7;;
}

.image {
    margin-left: 350px;
}